@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url('./docs/assets/Images/bestbackg.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Schoolbell', cursive;
}

.game-intro {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.game-intro p {
  font-size: 2rem;
  margin: 1em 0;
}

.logo-img {
  width: 100%;
  max-width: 500px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.arrows-img,
.arrows-img-wasd,
.x-img {
  width: 100px;
  max-width: 100%;
  margin-bottom: 20px;
}

.arrows-img-wasd {
  width: 150px;
}

a {
  text-decoration: none;
}

body button {
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  padding: 15px 30px;
  border: 0;
  border-radius: 25px;
  margin: 30px auto;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body button:hover {
  background-color: #333;
}

#game-board {
  padding: 35px;
  background-image: url('./docs/assets/Images/bestbackg.jpeg');
  background-size: contain;
}

.blinking_button {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blinker 1.6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blinking_button {
  background: #6c7a89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}
