/* ainda nao sei o que farei aqui */ 
*{
  background-color: lightpink ;
}
body {
    padding: 0;
    text-align: center;
  }
  .game-intro {
    float: center;
    padding: 0% 10%;
  }
  .game-intro p {
    font-size: 25px;
    font-family: "Comic Sans"
  }
  .logo-img {
    width: 350px;
  }
  .arrows-img {
    width: 100px;

  }
  .arrows-img-wasd{
    width: 150px;
  }
  .spacebar-img {
    width: 180px;
  }
  body button {
    font-size: 30px;
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 50px;
    margin-bottom: 30px;
  }
  #game-board {
      float: center;
      padding: 20px 15
  }