@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
  font-family: 'Schoolbell', cursive;
}
body {
    padding: 0;
    text-align: center;
    background-image: url(/Images/backgroundforpage.jpg);
    background-repeat: repeat-x;
  
  }
  .game-intro {
    float: center;
    padding: 10px 10px 10px 20px;
  }
  .game-intro p {
    font-size: 60px;
    font-family: 'Schoolbell', cursive;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  
  }
  .logo-img {
    width: 950px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  .arrows-img {
    width: 150px;

  }
  .arrows-img-wasd{
    width: 250px;
  }
  .x-img {
    width: 180px;
  
  }
  body button {
    display: flex;
    margin-left: 500px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 50px;
    margin-bottom: 30px;
  }
  #game-board {
      float: center;
      padding: 20px 15px;
      background-image: url(/Images/backgroundforpage.jpg);
      
  }
  .blinking_button {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
